.place__image {
   width: 100%;
   min-width: 320px;
   min-height: 320px;
}

@media screen and (max-width: 660px) {
   .place__image {
      position: relative;
      left: -16px;
   }
}

@media screen and (min-width: 640px) {
   .place__image {
      grid-row: 2/5;
   }
}
