.header {
    width: 100%;
    min-width: 288px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    box-sizing: border-box;
    align-items: center;
}