.header {
    width: 100%;
    min-width: 288px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
}

@media screen and (min-height: 768px) {
    .header {
        padding: 28px 24px 16px;
    }
}

@media screen and (min-height: 768px) {
    .header {
        padding: 28px 48px 16px;
    }
}